/* --- BASE a supprimer --- */
body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: rgb(227, 219, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* --- Page connexion --- */
.connexion-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 5%;
    box-sizing: border-box;
}

.connexion-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    gap: 30px;
}

h1 {
    font-size: 32px;
    color: #4f402d;
    font-weight: 800;
    margin: 0;
}

label {
    display: block;
    font-size: 1.1rem;
    color: #4f402d;
    font-weight: 400;
    margin-bottom: 8px;
}

/* --- Formulaire --- */
.input-group { margin-bottom: 25px; }

input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

.center-btn { display: flex; justify-content: flex-start; margin-top: 20px; }

.login-button {
    background-color: #ab8a60;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 50px;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* --- Responsive --- */
@media screen and (min-width: 768px) {
    .connexion-wrapper { flex-direction: row; gap: 100px; align-items: center; }
    .title-section, .form-section { flex: 1; }
    h1 { font-size: 48px; }
}